<section>
  <h1>Certifications</h1>
  <ul id="certifications">
    <li class="post">
      <a href="http://www.offensive-security.com/information-security-certifications/oscp-offensive-security-certified-professional/" title="Offensive Security Certified Professional"><img src="/images/oscp.png" alt="Offensive Security Certified Professional" /></a>
    </li>
    <li class="post">
      <a href="http://www.offensive-security.com/information-security-certifications/oscp-offensive-security-certified-expert/" title="Offensive Security Certified Expert"><img src="/images/osce.png" alt="Offensive Security Certified Expert" /></a>
    </li>
  </ul>
  <h1>OJ on the Web</h1>
  <ul id="about_me">
    <li class="post">
      <a href="/about/" title="About OJ">About me</a>
    </li>
    <li class="post">
      <a href="https://keybase.io/oj" title="PGP Key">PGP Key (8192R/93260597)</a>
    </li>
    <li class="post">
      <a href="https://twitter.com/TheColonial" title="OJ @ Twitter">Twitter</a>
    </li>
    <li class="post">
      <a href="https://github.com/OJ/" title="OJ @ Github">Github</a>
    </li>
    <li class="post">
      <a href="https://bitbucket.org/OJ/" title="OJ @ Bitbucket">Bitbucket</a>
    </li>
    <li class="post">
      <a href="http://stackoverflow.com/users/611/oj" title="OJ @ SO">StackOverflow</a>
    </li>
    <li class="post">
      <a href="https://coderwall.com/oj">Coderwall<br/><img alt="Endorse OJ on Coderwall" src="http://api.coderwall.com/oj/endorsecount.png" /></a>
    </li>
  </ul>
  <iframe src="http://githubbadge.appspot.com/badge/OJ?s=1" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder=0></iframe>
</section>
