<section>
  <h1>OJ on the Web</h1>
  <ul id="about_me">
    <li class="post">
      <a href="/+" title="About OJ">About me</a>
    </li>
    <li class="post">
      <a href="/key.asc" title="PGP Key">PGP Key</a>
    </li>
    <li class="post">
      <a href="http://functional.io/" title="Functional IO">Functional IO</a>
    </li>
    <li class="post">
      <a href="http://twitter.com/TheColonial" title="OJ @ Twitter">Twitter</a>
    </li>
    <li class="post">
      <a href="http://github.com/OJ/" title="OJ @ Github">Github</a>
    </li>
    <li class="post">
      <a href="http://bitbucket.org/OJ/" title="OJ @ Bitbucket">Bitbucket</a>
    </li>
    <li class="post">
      <a href="http://stackoverflow.com/users/611/oj" title="OJ @ SO">StackOverflow</a>
    </li>
    <li class="post">
      <a href="https://coderwall.com/oj">Coderwall<br/><img alt="Endorse OJ on Coderwall" src="http://api.coderwall.com/oj/endorsecount.png" /></a>
    </li>
  </ul>
  <iframe src="http://githubbadge.appspot.com/badge/OJ?s=1" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder=0></iframe>
</section>
