<section>
  <h1>OJ on the Web</h1>
  <ul id="about_me">
    <li class="post">
      <a href="http://buffered.io/+" title="About OJ">About me</a>
    </li>
    <li class="post">
      <a href="http://functional.io/" title="Functional IO">Functional IO</a>
    </li>
    <li class="post">
      <a href="http://twitter.com/TheColonial" title="OJ @ Twitter">Twitter</a>
    </li>
    <li class="post">
      <a href="http://github.com/OJ/" title="OJ @ Github">Github</a>
    </li>
    <li class="post">
      <a href="http://bitbucket.org/OJ/" title="OJ @ Bitbucket">Bitbucket</a>
    </li>
    <li class="post">
      <a href="http://stackoverflow.com/users/611/oj" title="OJ @ SO">StackOverflow</a>
    </li>
    <li><a href="http://www.erlang-factory.com/conference/SFBay2012"><img src="http://www.erlang-factory.com//upload/item/83/SF2012ImSpeaking.jpg" alt="I'm speaking at the 2012 San Francisco Erlang Factory!"></a>
  </ul>
</section>
